@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

body{
    margin:0;
    font-family: "Google Sans Flex", sans-serif;
    background: #e6e6e6;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.gmail-card{
    display:flex;
    align-items:center;
    gap:16px;
    text-decoration:none;
    background:#fff;
    padding:12px 18px;
    border-radius:12px;
    box-shadow: 0 6px 18px rgba(18,25,36,0.08), 0 2px 6px rgba(18,25,36,0.04);
    border:1px solid rgba(16,24,40,0.04);
    min-width:320px;
    cursor:pointer;
    animation:shake 2.5s ease-in-out infinite;
}

.gmail-card:hover{
    box-shadow:0 12px 30px rgba(16,24,40,0.12);
}

.logo{
    width:48px;
    height:36px;
}

.text{
    display:flex;
    flex-direction:column;
}

.brand{
    font-weight:700;
    letter-spacing:1px;
    color:#d93025;
    font-size:14px'
}

.message{
    color:#6b7280;
    font-size:13px;
    margin-top:4px;
}

@keyframes shake{
    0%, 80%, 100% { transform: translateX(0) rotate(0); }
    82% { transform: translateX(-6px) rotate(-2deg); }
    86% { transform: translateX(6px) rotate(2deg); }
    92% { transform: translateX(0) rotate(0); }
}

.card {
    background: #fff;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(16, 24, 40, 0.08);
    max-width: 720px;
}

.phone{
    width:360px;
    height:720px;
    border-radius:44px;
    background:#696767;
    box-shadow:0 20px 50px rgba(16,24,40,0.18);
    padding:18px;
    display:flex;
    flex-direction:column;
    position:relative;
}
.notch{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:5;
}
.notch-bar{
    width:120px;
    height:8px;
    background:#111;
    border-radius:8px;
}

.screen{
    background:#fff;
    border-radius:18px;
    overflow:auto;
    padding:12px;
}

.inbox{
    display:flex;
    flex-direction:column-reverse;
}

.email{
    display:flex;
    align-items:center;
    gap:12px;
    padding:10px;
    border-radius:10px;
    border:1px solid rgba(16,24,40,0.05);
    margin-bottom:10px;
    background:#fff;
    cursor:pointer;
}

.avatar{
    width:44px;
    height:44px;
    border-radius:50%;
    background:#e5e7eb;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    margin-left: 10px;
}

.content{
    display:flex;
    flex-direction:column;
}

.subject{
    font-weight:700;
    font-size:14px;
    /* margin-left:-30px; */
}

.preview{
    color:#6b7280;
    font-size:13px;
    margin-top:4px;
    margin-left:40px;
    /* margin-left:10px; */
}